root = true

[*]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

# Ignore all patches
[/**/patches/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
